#root, html, body{
    margin:0;
    padding:0;
    height:100vh;
    box-sizing: border-box;
}
.app{
    height:100%;
    top:0;
    background-image: url("https://images.unsplash.com/photo-1639759022772-55dcc7a9f745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card{
    background-color: whitesmoke;
    width:50% ;
    height:30vh ;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius:25px;
    padding:2px;
    box-shadow: 10px, 10px;
}

.heading {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Spartan',sans-serif;
}
.nextButton{
  border-radius: 10px;
  border-width: 2px;
  background-color:green;
  border-style: solid;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  transition: 0.25s ease;
  margin-bottom: 10px;
}